<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}  | easy access</title>
</head>
<body>
	<nav class =' max-w-4xl mx-auto flex items-center justify-between py-4 px-6 bg-teal-600'>
		<div class= 'logo'>
			<a class = 'text-white' href="/"> Easy Access</a>
			
		</div>
		<div class = 'menu'>
			<a href="">About</a>
		</div>
		
	</nav>
	{%  block content %}

	{% endblock %}

</body>
</html>